{% load templatetag_handlebars %}
{% tplhandlebars "week_counter" %}
	
	<div class="week-counter">
		    <div class="pull-right counter-text" style="">Week 2 of 10 - Spring 2015</div>
		    <div class="progress">
				<div class="progress-bar progress-bar-default myuw-week-progress">
			    	<span class="sr-only">Week 1</span>
				</div>
				<div class="progress-bar progress-bar-success myuw-week-progress break">
			    	<span class="sr-only">Weekend</span>
				</div>
				<div class="progress-bar progress-bar-default myuw-week-progress">
			    	<span class="sr-only">Week 2</span>
				</div>
				<div class="progress-bar progress-bar-success myuw-week-progress break">
			    	<span class="sr-only">Weekend</span>
				</div>
				<div class="progress-bar progress-bar-empty myuw-week-progress">
			    	<span class="sr-only">Week 3</span>
				</div>
				<div class="progress-bar progress-bar-success myuw-week-progress break">
			    	<span class="sr-only">Weekend</span>
				</div>
				<div class="progress-bar progress-bar-empty myuw-week-progress">
			    	<span class="sr-only">Week 4</span>
				</div>
				<div class="progress-bar progress-bar-success myuw-week-progress break">
			    	<span class="sr-only">Weekend</span>
				</div>
				<div class="progress-bar progress-bar-empty myuw-week-progress">
			    	<span class="sr-only">Week 5</span>
				</div>
				<div class="progress-bar progress-bar-success myuw-week-progress break">
			    	<span class="sr-only">Weekend</span>
				</div>
				<div class="progress-bar progress-bar-empty myuw-week-progress">
			    	<span class="sr-only">Week 6</span>
				</div>
				<div class="progress-bar progress-bar-success myuw-week-progress break">
			    	<span class="sr-only">Weekend</span>
				</div>
				<div class="progress-bar progress-bar-empty myuw-week-progress">
			    	<span class="sr-only">Week 7</span>
				</div>
				<div class="progress-bar progress-bar-success myuw-week-progress break">
			    	<span class="sr-only">Weekend</span>
				</div>
				<div class="progress-bar progress-bar-empty myuw-week-progress">
			    	<span class="sr-only">Week 8</span>
				</div>
				<div class="progress-bar progress-bar-success myuw-week-progress break">
			    	<span class="sr-only">Weekend</span>
				</div>
				<div class="progress-bar progress-bar-empty myuw-week-progress">
			    	<span class="sr-only">Week 9</span>
				</div>
				<div class="progress-bar progress-bar-success myuw-week-progress break">
			    	<span class="sr-only">Weekend</span>
				</div>
				<div class="progress-bar progress-bar-empty myuw-week-progress">
			    	<span class="sr-only">Week before finals</span>
				</div>
				<div class="progress-bar progress-bar-success myuw-week-progress break">
			    	<span class="sr-only">Weekend</span>
				</div>
				<div class="progress-bar progress-bar-danger myuw-week-progress">
			    	<span class="finals-text">{% if not request.is_mobile and not request.is_tablet %}Finals Week {% endif %}</span>
				</div>
			</div>    
    	</div>


{% endtplhandlebars %}